*{
    margin:0;
    padding:0;
}


/* font family */


.quicksand-normal {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }


 #raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* Shared style */
/* .hide{
    display: none;
} */
.display-flex{
    display: flex;
}   
.orange{
    color:orange;
}
.skyblue{
    color: #01ACFD;
}
.aqua{
    color:aqua
}
.bright-blue{
    color:#5A55F8;
}
.color-red{
    color:red;
}
/* nav style */

nav{
    max-width: 1160px;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    gap: 186px;
    
}
.nav-logo{
    justify-content: center;
    align-items: center;
}
.nav-school{
    font-weight: 700;
    font-size: 2rem;
}


nav ul{
    gap:32px;
}
nav li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-weight:700;
    font-size: 1.25rem;
}

.nav-btn{
    width:200px;
    height: 50px;
    padding: 10px 10px;
    border:none;
    border-radius: 12px;
    background-color: orange;
    font-size: 1.25rem;
    font-weight: 600px;
    color:#fff;
}
.nav-btn:hover{
    background-color: rgb(255, 123, 0);
}

/* Banner style */

.banner-container{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.banner-contant{
        width:100%;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    

}
.banner-container img{
    width: 100%;
}
.banner-btn{
    width:200px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: black;
    color:#fff;
    border:none;
    border-radius: 12px;
    padding: 10px 10px;
    margin-top: 24px;

}
.banner-btn:hover{
    background-color: rgba(0, 0, 0, 0.728);
}

/* Curriculum styles */

.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 80px;
    
}

.curriculum{
    background-image: url(../assets/bg.png);
    max-width:1440px; height:880px;
    margin: 0 auto;
    padding: 60px 0px;
    /* justify-content: center;
    align-items: center; */

    
}
.card-container{
    max-width: 1160px;
    height: 482px;
    margin:0 auto;
    gap: 28px;
    text-align: center;
   
}
.card{
    width:368px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    padding:52px 42px;
   
    
    
}
.gradient-sky{
    background:linear-gradient( rgba(222, 245, 255, 1), #ffffff);
}
.gradient-orange{
    background:linear-gradient(rgba(255, 244, 220, 1),#ffff);
}
.gradient-blue{
    background:linear-gradient(rgba(242, 232, 255, 1), #ffffff)
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 32px;
}
.card-description{
    font-size: 1rem;
    margin-bottom: 32px;
}
.card-btn{
    border:none;
    font-size: 1rem;
    background-color: #ffff;
}
.arrow{
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    

}
.arrow-btn{
    
    width:60px; height:60px;
    font-size: 3.5rem;
    background-color: orange;
    color:#ffffff;
    border:none;
    border-radius: 50%;


}
.arrow-btn:hover{
    background-color: rgb(255, 128, 0);
}


/* Our stories style */

.stories{
    max-width: 1440px;
    height: 1018px;
    margin: 0 auto;
    background-image: url(../assets/bg.png), linear-gradient(#fff,rgb(236, 202, 144));
}
.story-section-title{
    text-align: center;
    font-size: 3rem;
    font-weight:700;
}
.stories-container{
    width: 1160px;
    margin: 80px auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(1, 1fr);
    gap: 20px;
}
.big-card{
    width:540px;
    height:640px;
}
.small-card{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:20px;
}
.story-card{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 16px;
}
.stories .story-card img{
    margin-top:0px;
    border-radius: 12px;
}
.story-title{
    font-size: 1.5rem;
    font-weight:700;
    margin:35px 100px 50px 38px;
}
.stories-description{
    font-size: 1rem;
    color:rgba(102, 102, 102, 1);
    margin: 0 68px 34px 38px;
}

.story-card .date{
    margin-left: 30px;
    font-size: 1rem;
    font-weight: 700;
}
.stories-title-description{
    font-size: 1rem;
    font-weight:700;
    margin: 24px 54px 33px 38px;
}
.veiw-btn{
    text-align: center;
    margin-bottom: 60px;
}


/* Footer styles */

.footer{
    max-width: 1440px;
    /* height:520px; */
    margin:0px auto;
    background-color: rgba(1, 172, 253, 1);
    border: 2px solid rgba(1, 172, 253, 1);
}
.footer-section{
    justify-content: space-between;
    align-items: center;
    width: 1080px; height: 225px;
    margin:125px auto;
}
footer .old-school img{
    width: 80px;
    height: 90px;
    background-color: #ffff;
}

.old-school{
    align-items: center;
    margin-bottom: 35px;
}
.title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    
}
.footer-description{
    max-width:400px;
    font-size: 1.25rem;
    color:#ffffff;

}
.about{
    height: 100%;
    
}
.about-title{
    font-size: 1.5rem;
    font-weight:700;
    color:#ffffff;
    margin-bottom: 32px;
}
footer .about ul li{
    list-style:none;
    margin-bottom:20px;
    color:#ffff;
    font-size: 1.25rem;
    font-weight: 500;
}
footer .about ul{
    margin-bottom: 20px;
}
.contact{
    height:100%;
}
.contact-title{
    font-size:1.625rem;
    font-weight:700;
    color:#fff;
    margin-bottom:32px;
}
footer marquee{
    font-weight: 700;
    font-size: 2rem;
    color: gray;
    
}


/* responsive for mobile device */

@media screen and (max-width:576px) {
        nav,
        .card-container,
        .footer-section{
            flex-direction: column;
        }
        .banner-container{
            flex-direction:column-reverse;
        }
        .banner-container,
        .curriculum,
        .stories,
        .footer{
            height:auto;
        }
        header, .card{
            width:100%;
            height: auto;
        }
        header nav h3,
        header nav ul li, 
        .nav-btn{
            display:none;
        }
        .banner-contant{
            text-align: center;
            margin:0 auto;
            height: auto;
        }
        .curriculum{
            height:auto;
        }
        .card{
            width: 100%;
            margin-top:10px;
        }
        .arrow{
            display:none;
        }

        .stories-container{
            grid-template-columns: repeat(1, 1fr);
            height:auto;
        }
        .story-card{
            width:100%;
            height: auto;
        }
        .story-card img{
            width: 100%;
        }
        .big-card{
            display: none;
        }
        footer .old-school img{
            width:100%;
        }
        .about{
            width:100%;
            margin: 0 auto;
        }
}